<mat-card class="card">
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{author}}</mat-card-subtitle>
    <img mat-card-image src="../../../../assets/image/{{image}}" alt="img">
    <mat-card-content>{{content}}</mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>