.wrapper {
  display: grid;
  margin: auto;
  min-height: 75vh;
  max-width: 1200px;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  justify-content: center;
}
