<div class="wrapper">
  <div class='list'>
    <div *ngFor="let article of model.articles">
      <app-article [title]="article.title" [author]="article.author" [image]='article.image'
        [content]='article.content'></app-article>
    </div>
  </div>
</div>