<div class="wrapper">
  <div class="login-container">
    <h1>Login</h1>
    <form *ngIf="isAutorization()" class="login-form" [formGroup]="form.formGroup"
      (ngSubmit)="onSubmit(form.formGroup)">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="email">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password">
        <mat-error *ngIf="password">
          A password can include any combination of letters and numbers. Min 6 characters.
        </mat-error>
      </mat-form-field>
      <div>
      </div>
      <div>
        <button mat-raised-button color="primary" [disabled]="form.formGroup.invalid">Login</button>
        <a routerLink="/registration" class="register">Registration</a>
      </div>
    </form>
    <div *ngIf="!isAutorization()">
      <h3>You are authorized!</h3>
      <button (click)="logout()" mat-raised-button color="primary">Logout</button>
      <a routerLink="/registration" class="register">Registration</a>
    </div>
  </div>
</div>